<script type="text/javascript">
	function get_sub_groups(id)
	{
		jQuery.ajax({
          	url: "/newlab/charge_masters/get_sub_groups/"+id,
		     	type: "POST",
           	success: function(result){  
					var sub_groups=result.split("<division>")
               document.getElementById('sub_group_name').length=0
					var opt = document.createElement('option');
					document.getElementById('sub_group_name').options.add(opt);
					opt.text ="Please select"
					for(j=0;j<sub_groups.length-1;j++)
					{
						var ids=sub_groups[j].split("<sub_division>");
						var opt = document.createElement('option');
						document.getElementById('sub_group_name').options.add(opt);
						opt.text =ids[0];
						opt.value=ids[1];
					}
            },
            error: function(){
                  alert('Error occured');
            }
      });
	}

	function get_tests(id)
	{
		jQuery.ajax({
          	url: "/newlab/charge_masters/get_tests/"+id,
		     	type: "POST",
           	success: function(result){  
					var test_names=result.split("<division>")
               document.getElementById('test_name').length=0
					var opt = document.createElement('option');
					document.getElementById('test_name').options.add(opt);
					opt.text ="Please select"
					for(j=0;j<test_names.length-1;j++)
					{
						var ids=test_names[j].split("<sub_division>");
						var opt = document.createElement('option');
						document.getElementById('test_name').options.add(opt);
						opt.text =ids[0];
						opt.value=ids[1];
					}
            },
            error: function(){
                  alert('Error occured');
            }
      });
	}

	function get_test(id)
	{
		
		jQuery.ajax({
          	url: "/newlab/registrations/get_test/"+id,
		     	type: "POST",
           	success: function(result){  
						if(result=="No Amount")
							alert("Please the charge master");
						else
						{
							var results=result.split("<division>");
							var add_amount_fields="total_package_price,fixed_price";
							var store=new Array();
							entra_id=""
							store[0]=results[1];
							store[1]=results[0];
							store[2]=results[2];
							store[3]=id;							
							store[4]=parseFloat(results[3]).toFixed(2);
							store[5]="0";
							store[6]=parseFloat(results[3]).toFixed(2);
							store[7]=results[4];
							add_row("r",9,"scroll_table",store,add_amount_fields,8,entra_id);
					 }
            },
            error: function(){
                  alert('Error occured');
            }
      });
	}

	function discount_calculation()
	{
		var discount=0;
		var gross=parseFloat(document.getElementById('total_package_price').value).toFixed(2);
		if(document.getElementById('discount').value!="")
		{
			discount=parseFloat(document.getElementById('discount').value);
			document.getElementById('fixed_price').value=(gross-discount).toFixed(2);
		}
		else
			document.getElementById('fixed_price').value=gross;
	}

	function sub_total_calculation()
	{
		var table = document.getElementById("scroll_table");
		document.getElementById("total_package_price").value=0;
		for(i=0;i<table.rows.length;i++)
		{
			if(document.getElementById("r"+i+"c6").value!="" && document.getElementById("r"+i+"c1").value!="")
				document.getElementById("total_package_price").value=(parseFloat(document.getElementById("r"+i+"c8").value)+parseFloat(document.getElementById("total_package_price").value)).toFixed(2);
			else
				break;
		}
		discount_calculation();
	}

	function qty_amount_calculation(row_no)
	{
		if(document.getElementById("r"+row_no+"c6").value!="" && document.getElementById("r"+row_no+"c7").value!="")
		{
			document.getElementById("r"+row_no+"c8").value=(parseFloat(document.getElementById("r"+row_no+"c6").value)-parseFloat(document.getElementById("r"+row_no+"c7").value)).toFixed(2);
		}		
		else
		{
			document.getElementById("r"+row_no+"c8").value=(parseFloat(document.getElementById("r"+row_no+"c6").value)).toFixed(2);
		}
		sub_total_calculation();
	}

</script>


<center><font color='blue'><strong>Corporate Health Package New Record</strong></font></center>
<% remote_form_for @corporate_health_package, :url => {:controller=>"/newlab/corporate_health_packages", :action => :update,:id=>@corporate_health_package.id}, :before => "$('#creating_events').show();", :complete => "$('#creating_events').hide();" do |f| %>
	<ul class="tabs">
			<li><a href="#">General.Info</a></li>
		</ul>
		<div class="panes">
			<div>
			  <table align="center" width="100%">
					
			  		<tr>
			   		<td>Branch Name<sup>*<sup></td>
				 		<td><div class="label-field"><%= f.text_field :branch_code,:readOnly => true, :id =>"branch_code" %></div></td>
			  			<td>Branch.Loc</td>
				 		<td><div class="label-field"><%= f.text_field :branch_location,:readOnly => true %></div></td>
			  			<td>Discontinued</td>
				 		<td><%= f.check_box :discontinued %></td>
					</tr>
					<tr>
						<td>Package Code<sup>*<sup></td>
						<td><div class="label-field"><%= f.text_field :package_code %></div></td>
			  		 	<td>Package Name<sup>*<sup></td>
						<td><div class="label-field"><%= f.text_field :package_name %></div></td>
					</tr>
			  		<tr>
						<td>Group<sup>*<sup></td>
						<td><div class="text-input-bg"><%= f.select :test_group_id, TestGroup.find(:all,:conditions => "branch_code='#{@person.branch_name}' and discontinued!='1'",:order=>"group_name ASC").collect{|p| [p.group_name,p.id]},{:prompt => true},{:id =>"group_name",:onChange => "if(this.value){get_sub_groups(this.value);}"} %></div></td>
			  		 	<td>Sub Group<sup>*<sup></td>
						<td><div class="text-input-bg"><%= f.select :test_sub_group_id,'',{:prompt => true},{:id =>"sub_group_name",:onChange => "if(this.value){get_tests(this.value);}"} %></div></td>
			  			<td>Test Name<sup>*<sup></td>
						<td><div class="text-input-bg"><%= f.select :test_master_id,'',{:prompt => true},{:id =>"test_name",:onChange => "get_test(this.value)"} %></div></td>
					</tr>
					<tr>
						<td colspan="6">
							 <div id="table_wrapper">
							 <div id="header_ind">
								 	<div id="head4">S.No</div>	
								 	<div id="head4">Test Id</div>
									<div id="head5">Test Name</div>
									<div id="head5">Price</div>
									<div id="head4">Discount Amt</div>
									<div id="head5">Net Price</div>
									<div id="head3">Del</div>
							 </div>
							 <div id="tbody">
								  <table id="scroll_table" class="fixed">
										<% i=0 %>
										<% j=0 %>					
										<% f.fields_for :corporate_health_package_children do |r| %>	
											<% if(@corporate_health_package.corporate_health_package_children[j].test_name_id && @corporate_health_package.corporate_health_package_children[j].test_name_id!="") %>
													<% test_master=TestMaster.find_by_id(@corporate_health_package.corporate_health_package_children[j].test_name_id) %>
													<% test_name=test_master.test_name %>
													<% test_group=TestGroup.find_by_id(@corporate_health_package.corporate_health_package_children[j].test_group_id) %>
													<% group=test_group.group_name %>
												<% else %>
													<% group=""
													test_name="" %>
												<% end %>
											<tr>
												<td class="td4 child_table"><%= r.text_field :s_no,:id =>"r#{i}c1", :class => "text_field_child",:readOnly => true %></td>
												<td class="td4 child_table"><%= text_field ('test_group_name','',:id =>"r#{i}c2", :class => "text_field_child",:readOnly => true,:value =>group) %></td>
												<%= r.hidden_field :test_group_id,:id =>"r#{i}c3", :class => "text_field_child",:readOnly => true %>
												<td class="td5 child_table"><%= text_field ('test_name_id','',:id =>"r#{i}c4", :class => "text_field_child",:readOnly => true,:value =>test_name) %></td>
												<%= r.hidden_field :test_name_id,:id =>"r#{i}c5", :class => "text_field_child",:readOnly => true %>
												<td class="td5 child_table"><%= r.text_field :price,:id =>"r#{i}c6", :class => "text_field_child" %></td>
												<td class="td4 child_table"><%= r.text_field :discount,:id =>"r#{i}c7", :class => "text_field_child", :onKeyup =>"qty_amount_calculation('#{i}')" %></td>
												<td class="td5 child_table"><%= r.text_field :net_price,:id =>"r#{i}c8", :class => "text_field_child",:readOnly => true %></td>
												<%= r.hidden_field :department,:id =>"r#{i}c9", :class => "text_field_child",:readOnly => true %>	
												<% if(@corporate_health_package.corporate_health_package_children[i].test_name_id && @corporate_health_package.corporate_health_package_children[i].test_name_id!="") %>
													<td class="td3 child_table"><image src='/images/Cancel4.png' onClick="delect_rows_prev('r<%= i %>',9,'scroll_table','total_package_price,fixed_price',8,'')" style="cursor:pointer;"></td>
												<% else %>
													<td class="td3 child_table"></td>
												<% end %>
											</tr>
											<% i=i+1 %>
											<% j=j+1 %>
										<% end %>
									 </table>
							 </div>
						</div>
						</td>
					</tr>
					<tr>
			  			<td>Package Price</td>
				 		<td><div class="label-field"><%= f.text_field :total_package_price,:id => "total_package_price" %></div></td>
			  			<td>Discount Amount<sup>*<sup></td>
				 		<td><div class="label-field"><%= f.text_field :discount,:id=>"discount",:onKeyUp=>"discount_calculation()" %></div></td>
			 	 		<td>Fixed Price<sup>*<sup></td>
				 		<td><div class="label-field"><%= f.text_field :fixed_price,:id =>"fixed_price" %></div></td>
			  		</tr>
			  		<tr>
				 		<td>Remarks<sup>*<sup></td>
				 		<td colspan="5"><div class="label-field-big"><%= f.text_field :remarks %></div></td>
			  		</tr>
				</table>
<br/>
</div>
</div>
				<br/>
			   <center>
					<td><%=f.submit 'Update',:class => "preview" %><span id = "creating_events" style = "display:none;">Creating, Please wait...</span></td>
				</center>
		<script>
			$(function() {
    			// setup ul.tabs to work as tabs for each div directly under div.panes
    			$("ul.tabs").tabs("div.panes > div");
			});
	</script>
<% end %>
