<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @org_detail.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @org_detail.last_name %>
</p>

<p>
  <b>Mobile:</b>
  <%= @org_detail.mobile %>
</p>

<p>
  <b>Country:</b>
  <%= @org_detail.country_id %>
</p>

<p>
  <b>State:</b>
  <%= @org_detail.state_id %>
</p>

<p>
  <b>City:</b>
  <%= @org_detail.city_id %>
</p>

<p>
  <b>Address:</b>
  <%= @org_detail.address %>
</p>

<p>
  <b>Postal code:</b>
  <%= @org_detail.postal_code %>
</p>

<p>
  <b>Org name:</b>
  <%= @org_detail.org_name %>
</p>

<p>
  <b>Org country:</b>
  <%= @org_detail.org_country %>
</p>

<p>
  <b>Org state:</b>
  <%= @org_detail.org_state %>
</p>

<p>
  <b>Org city:</b>
  <%= @org_detail.org_city %>
</p>

<p>
  <b>Org location:</b>
  <%= @org_detail.org_location %>
</p>

<p>
  <b>Org address:</b>
  <%= @org_detail.org_address %>
</p>

<p>
  <b>Org postal code:</b>
  <%= @org_detail.org_postal_code %>
</p>

<p>
  <b>Org phone1:</b>
  <%= @org_detail.org_phone1 %>
</p>

<p>
  <b>Org phone2:</b>
  <%= @org_detail.org_phone2 %>
</p>

<p>
  <b>Sign up as:</b>
  <%= @org_detail.sign_up_as %>
</p>

<p>
  <b>User:</b>
  <%= @org_detail.user_id %>
</p>


<%= link_to 'Edit', edit_org_detail_path(@org_detail) %> |
<%= link_to 'Back', org_details_path %>
