<%= form_for(@doctor_flow) do |f| %>
  <% if @doctor_flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor_flow.errors.count, "error") %> prohibited this doctor_flow from being saved:</h2>

      <ul>
      <% @doctor_flow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :speciality %><br />
    <%= f.text_field :speciality %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
