
<style>
#choos_no {
width: 80px;
height: 30px;
background-color: #0078FF;
background-image: none;
background-position: 0 0;
border-width: 1px 0 0 0;
border-style: solid;
border-color: transparent;
border-radius: 16px;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
font: bold 13px Arial;
color: white;
text-decoration: none;
text-shadow: 0 1px 1px black;
cursor: pointer;
}

#choos_yes {
width: 80px;
height: 30px;
background-color: #0078FF;
background-image: none;
background-position: 0 0;
border-width: 1px 0 0 0;
border-style: solid;
border-color: transparent;
border-radius: 16px;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
font: bold 13px Arial;
color: white;
text-decoration: none;
text-shadow: 0 1px 1px black;
cursor: pointer;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
    $('#example2').dataTable();
});
</script>
<table>

 
 <tr>
<td width="150px" style="font-family :arial;"><%= image_tag("add.png")%><font size="4" ><%= link_to 'Add Sub Group', new_test_sub_group_path %></font></td>

<td width="850px"> </td><td><a href='<%= loginpage_path %>' target=_parent><%= image_tag("/assets/back.png",:border => 0)%></a></td></tr>

</table>


<table id="example2">
  <thead>
 

  <tr>
    <th>Lab masters</th>
    <th>Discontinued</th>
    <th>Test groups</th>
    <th>Sub group</th>
    <th>Sub group name</th>
    <th></th>
    
  </tr>
 </thead>
 <tbody>
<% @test_sub_groups.each do |test_sub_group| %>
  <tr>
    <td><%= test_sub_group.lab_masters_id %></td>
    <td><%= test_sub_group.discontinued %></td>
    <td><%= test_sub_group.test_groups_id %></td>
    <td><%= test_sub_group.sub_group_id %></td>
    <td><%= test_sub_group.sub_group_name %></td>
    <td><%= link_to image_tag("/assets/show.png",:border=>"0",:title=>" Click Here to Edit This Record",:width=>20,:height=>20), test_sub_group %>
   <%= link_to image_tag("/assets/Edit.png",:border=>"0",:title=>" Click Here to Edit This Record",:width=>20,:height=>20) , edit_test_sub_group_path(test_sub_group) %>
    <%= link_to image_tag("/assets/delete.png",:border=>"0",:title=>" Click Here to Delete This Record",:width=>20,:height=>20), test_sub_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
 </tbody>
</table>


