<p id="notice"><%= notice %></p>

<p>
  <b>Lab masters:</b>
  <%= @test_sub_group.lab_masters_id %>
</p>

<p>
  <b>Discontinued:</b>
  <%= @test_sub_group.discontinued %>
</p>

<p>
  <b>Test groups:</b>
  <%= @test_sub_group.test_groups_id %>
</p>

<p>
  <b>Sub group:</b>
  <%= @test_sub_group.sub_group_id %>
</p>

<p>
  <b>Sub group name:</b>
  <%= @test_sub_group.sub_group_name %>
</p>


<%= link_to 'Edit', edit_test_sub_group_path(@test_sub_group) %> |
<%= link_to 'Back', test_sub_groups_path %>
