<h1>Listing aricles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aricles.each do |aricle| %>
  <tr>
    <td><%= aricle.name %></td>
    <td><%= aricle.comment %></td>
    <td><%= link_to 'Show', aricle %></td>
    <td><%= link_to 'Edit', edit_aricle_path(aricle) %></td>
    <td><%= link_to 'Destroy', aricle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aricle', new_aricle_path %>
