<h1>New corporate_health_package_child</h1>

<% form_for(@corporate_health_package_child) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :s_no %><br />
    <%= f.text_field :s_no %>
  </p>
  <p>
    <%= f.label :test_id %><br />
    <%= f.text_field :test_id %>
  </p>
  <p>
    <%= f.label :test_name %><br />
    <%= f.text_field :test_name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </p>
  <p>
    <%= f.label :net_price %><br />
    <%= f.text_field :net_price %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', corporate_health_package_children_path %>