<br /><br />
<script></script>
<table width=100%>
<tr><td><img src="/assets/hospital.jpg" alt="Smiley face" height="100" width="100"><br/><%= link_to 'CLINIC MASTER','clinics/sidebar'%></td>
<td><img src="/assets/hospital.jpg" alt="Smiley face" height="100" width="100"><br/><%= link_to 'CLINIC BRANCHES MASTER','/clinicbranches/sidebar'%></td>

<td><img src="/assets/doctor.jpg" alt="Smiley face" height="100" width="100"><br/><%= link_to 'CONSULTANTS MASTER','/consultant_masters/sidebar'%></td>

<td><img src="/assets/lab.jpg" alt="Smiley face" height="100" width="100"><br/><%= link_to 'LAB MASTER',''%></td>

<td><img src="/assets/specialities.jpg" alt="Smiley face" height="100" width="100"><br/><%= link_to 'SPECIALITIES','specialities/sidebar'%></td></tr>
<td><img src="/assets/doctor.jpg" alt="Smiley face" height="100" width="100"><br/><%= link_to 'SPECIALITIES MASTER','/specalities_masters/sidebar'%></td>
<td><img src="/assets/hospital.jpg" alt="Smiley face" height="100" width="100"><br/><%= link_to 'CLINIC PROFILE MASTER','/clinic_profile_masters/sidebar'%></td></tr>
</table>


